Repository bitbybit/fe-ecommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write --ignore-unknown, eslint --quiet --fix

.lintstagedrc.json:

{
  "*.{css,scss}": ["stylelint --fix", "prettier --write --ignore-unknown"],
  "*.{js,mjs,cjs,ts}": ["eslint --quiet --fix", "prettier --write --ignore-unknown"],
  "!(*.css|*.scss|*.js|*.mjs|*.cjs|*.ts)": ["prettier --write --ignore-unknown"]
}

chore: ECOM-31 add repo setup instructions to readme
  README.md
Due: none

chore: ECOM-17 vite config
  index.html
  package-lock.json
  package.json
  src/index.ts
  vite.config.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

chore: ECOM-17 add more file extensions to lintstage config
  .lintstagedrc.json
Due: none

chore: ECOM-17 initial scss, tailwind, and stylelint config
  index.html
  package-lock.json
  package.json
  src/style/common.scss
  src/style/index.scss
  src/style/tailwind.css
  stylelint.config.ts
  vite.config.ts
Due: stylelint --fix, prettier --write --ignore-unknown, eslint --quiet --fix

chore: ECOM-23 add vitest
  package-lock.json
  package.json
Due: none

docs: ECOM-30 list all available npm scripts
  README.md
Due: none

feat: ECOM-7 add react and react-router
  .gitignore
  README.md
  app/root.tsx
  app/routes.ts
  app/routes/home.tsx
  app/style/common.scss
  app/style/index.scss
  app/style/tailwind.css
  app/welcome/welcome.tsx
  eslint.config.mts
  index.html
  package-lock.json
  package.json
  react-router.config.ts
  src/index.ts
  src/style/tailwind.css
  stylelint.config.ts
  tsconfig.json
  vite.config.ts
Due: stylelint --fix, prettier --write --ignore-unknown, eslint --quiet --fix

feat: ECOM-7 add redux
  app/root.tsx
  app/store/create-app-slice.ts
  app/store/hooks.ts
  app/store/store.ts
  eslint.config.mts
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown, eslint --quiet --fix

feat: ECOM-7 add shadcn
  app/components/ui/button.tsx
  app/components/ui/input.tsx
  app/components/welcome/index.tsx
  app/hooks.ts
  app/lib/utils.ts
  app/root.tsx
  app/routes/home.tsx
  app/store/index.ts
  app/style/tailwind.css
  components.json
  package-lock.json
  package.json
Due: stylelint --fix, prettier --write --ignore-unknown, eslint --quiet --fix

chore: ECOM-7 mute eslint config issues related to external packages
  eslint.config.mts
Due: none

feat: ECOM-7 add routes, placeholder page components, and its store
  app/assets/.gitkeep
  app/components/welcome/index.tsx
  app/features/about/components/index.tsx
  app/features/about/routes.tsx
  app/features/auth/components/login/index.tsx
  app/features/auth/components/register/index.tsx
  app/features/auth/hooks.ts
  app/features/auth/routes.tsx
  app/features/auth/slice.ts
  app/features/cart/components/index.tsx
  app/features/cart/routes.tsx
  app/features/cart/slice.ts
  app/features/catalog/components/index.tsx
  app/features/catalog/routes.tsx
  app/features/catalog/slice.ts
  app/features/home/components/index.tsx
  app/features/home/routes.tsx
  app/features/product/components/index.tsx
  app/features/product/routes.tsx
  app/features/product/slice.ts
  app/features/profile/components/index.tsx
  app/features/profile/routes.tsx
  app/features/profile/slice.ts
  app/layouts/protected.tsx
  app/layouts/public.tsx
  app/root.tsx
  app/routes.ts
  app/routes/home.tsx
  app/shared/components/ui/button.tsx
  app/shared/components/ui/input.tsx
  app/shared/hooks/.gitkeep
  app/shared/lib/.gitkeep
  app/shared/utils/store.ts
  app/shared/utils/ui.ts
  app/store/hooks.ts
  app/store/index.ts
  app/styles/common.scss
  app/styles/index.scss
  app/styles/tailwind.css
  components.json
Due: stylelint --fix, prettier --write --ignore-unknown, eslint --quiet --fix

docs: add a thorough README
  README.md
Due: none

fix: ECOM-58 add style links for prod build
  app/root.tsx
Due: none

chore: ECOM-58 remove preview command as it works only with ssr mode
  README.md
  package.json
Due: none

feat: ECOM-14 add API client
  .env.example
  app/features/catalog/components/index.tsx
  app/shared/api/client.ts
  app/shared/api/namespaces/cart.ts
  app/shared/api/namespaces/product.ts
  app/shared/api/namespaces/user.ts
  app/shared/api/token-cache.ts
  app/shared/lib/.gitkeep
  package-lock.json
  package.json
  vite-env.d.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

docs: ECOM-29 add links
  README.md
Due: none

docs: ECOM-9 update PR template
  .github/pull_request_template.md
Due: none

docs: ECOM-29 add commerceTools api env variables
  README.md
Due: none

fix: ECOM-24 correct script path
  package.json
Due: none

feat: ECOM-7 change react router mode from framework to declarative
  README.md
  app/hooks/.gitkeep
  app/hooks/use-title.ts
  app/pages/about/index.tsx
  app/pages/cart/index.tsx
  app/pages/catalog/index.tsx
  app/pages/home/index.tsx
  app/pages/login/index.tsx
  app/pages/product/index.tsx
  app/pages/profile/index.tsx
  app/pages/register/index.tsx
  app/root.tsx
  app/router.tsx
  app/routes.ts
  index.html
  package-lock.json
  package.json
  react-router.config.ts
  vite.config.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

feat: ECOM-45 add header and footer, add styles
  app/layouts/components/footer.tsx
  app/layouts/components/header.tsx
  app/layouts/components/navigation.tsx
  app/layouts/protected.tsx
  app/layouts/public.tsx
Due: none

feat: ECOM-46 add 404 page
  app/pages/404.tsx
Due: none

feat: ECOM-32 add login action
  app/components/login.tsx
  app/pages/login/index.tsx
  app/store/auth.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

refactor: ECOM-32 auth slice login action
  app/components/login.tsx
  app/pages/login/index.tsx
  app/pages/login/login-button.tsx
  app/store/auth.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

fix: ECOM-32 makeStore method correct return type
  app/store/index.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

feat: ECOM-46 add route for unknown path
  app/router.tsx
Due: none

feat: ECOM-46 add loading animation
  app/pages/loading.tsx
  app/router.tsx
Due: none

refactor: ECOM-46 remove lazy and replace relative import
  app/components/loading.tsx
  app/pages/404.tsx
  app/router.tsx
Due: none

feat: ECOM-40 auth sign-up reducer
  app/pages/login/login-button.tsx
  app/store/auth.ts
  app/store/auth/index.ts
  app/store/auth/reducers/sign-in.ts
  app/store/auth/reducers/sign-up.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

refactor: ECOM-46 rename not-found page and add lazy import
  app/pages/not-found.tsx
  app/router.tsx
Due: none

feat: ECOM-40 add shadcn form and label
  app/components/ui/form.tsx
  app/components/ui/label.tsx
  components.json
  package-lock.json
  package.json
Due: none

feat: ECOM-40 add more fields to signup action
  app/api/client.ts
  app/store/auth/index.ts
  app/store/auth/reducers/sign-up.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

fix: ECOM-40 clear state while action is pending
  app/store/auth/reducers/sign-in.ts
  app/store/auth/reducers/sign-up.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

docs: ECOM-40 add missing tools in stack list
  README.md
Due: none

feat: ECOM-39 field validation rules
  app/utils/validation.ts
Due: prettier --write --ignore-unknown, eslint --quiet --fix

feat: ECOM-40 registration form component
  app/pages/register/index.tsx
  app/pages/register/register-form.tsx
Due: none

feat: ECOM-33 add login form component
  app/pages/login/index.tsx
  app/pages/login/login-form.tsx
  app/utils/validation.ts
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown, eslint --quiet --fix

feat: ECOM-34 add authorization check
  app/api/client.ts
  app/pages/login/login-form.tsx
Due: prettier --write --ignore-unknown, eslint --quiet --fix

feat: ECOM-40 form helper utils
  app/pages/register/register-form.tsx
  app/utils/form.tsx
Due: none
